#brand {
  transition: transform .7s ease-in-out;
}
#brand:hover {
  transform: rotate(360deg);
}
pre {
    white-space: pre-wrap;
}

div.answer-box {
 padding: 20px;
 border: 1px solid #c2c2c2;
 border-radius: 5px;
 margin-bottom: 10px;
}

div.answer {
 font-size: 120%;
 font-weight: bold;
 margin-bottom: 35px;

}
div.answer-url {
 font-size: 80%;
 font-style: italic;
}

::placeholder {
  color: grey;
  opacity: 1; /* Firefox */
}

span.answer {
 background-color: #ffff00;
 font-weight: bold;
 padding: 8px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: none;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
