<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>{{ args.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/chota@latest">
  <link rel="stylesheet" href="/static/style.css">
</head>

{% block content %}
<body style="height:100%">
  {% block body %}

  {% endblock body %}
  <footer class="text-grey text-center">
  <hr>
  DB: {{db_info['name']}} | Vectors: {{db_info['vectors_count']}}
  {%if db_info['name'] == 'QDrant' %}
  | <a href="https://ui.qdrant.tech">Dashboard</a>
  {% endif %}
  | <a href="/admin">Admin</a>
  </footer>

</body>
{% endblock content %}

</html>
