{% extends "base.html" %}

{% block body %}

<style>
#brand {
  transition: transform .7s ease-in-out;
}
#brand:hover {
  transform: rotate(360deg);
}
pre {
    white-space: pre-wrap;
}
</style>



<div id="summary" class="container" role="document">
  <header role="banner">
    <h1 class="pull-right" style="margin: 0;">
    <h1 class="text-grey text-center">⚡️ My Internets</h1>
    <div class="clearfix"></div>
  </header>

      <form action="/search" method="get">
		  <p class="grouped">
                <input
                  type="search"
                  name="q"
                  id="q"
                  placeholder="Search Your History"
				  value="{{query}}" autofocus
				  />
                <button class="button icon-only">
                  <img src="https://icongr.am/feather/search.svg?size=16" />
                </button>
			</p>
      </form>
      {% for url, title, sentences in hits %}

      <div class="row">
        <div class="col">
          <div>
          <a style="font-size: 140%" href="{{url}}">{{title}}</a>
          <span class="text-grey text-italic">{{url}}</span>
          </div>
          {% for sentence in sentences %}
          <p class="text-grey text-italic">{{sentence}}</p>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
</div>
<footer class="text-grey text-center">
 <hr>
 DB: {{db_info['name']}} | Vectors: {{db_info['vectors_count']}}
 {%if db_info['name'] == 'QDrant' %}
 | <a href="https://ui.qdrant.tech">Dashboard</a>
 {% endif %}
</footer>
{% endblock body %}
